
.offcanvas-img-2{
background-image: linear-gradient(270deg, #ffe5b2, #fff);
}

@media (max-width:576px) {
   .header-offcanvas{
    width: 70% !important;
   }
}

@media (min-width:768px) {
   .header-offcanvas{
    width: unset ;
   }
}

@media (min-width:1200px) {
    .header-search{
        width: 300px !important;
    }
}
@media (min-width:1400px) {
    .header-search{
        width: 400px !important;
    }
}


.head{
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
}


.add{
     background-image: linear-gradient(120deg, rgb(255, 97, 250), rgb(255, 169, 57));
    color: white;
    border-radius: 8px;
    padding: 5px 7px;
}
    